:root {
  --primary-text-color: #434455; /* SLATE */
  --primary-title-color: #2e2f42; /* Navy blue */
  --primary-brand-color: #4d5ae5; /* Iris */
  --pressed-state-color: #404bbf; /* OCEAN */
  --accent-color: #e7e9fc;
  --light-color-button: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}

/* Логотип */

.logo-a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  order: 0;
}
.logo-b {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  order: 1;
}
.linklogo,
.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--pressed-state-color);
}

.link-header {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}
address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція герой */

h1 {
  background-color: var(--primary-title-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-order {
  color: #ffffff;
  background-color: var(--primary-brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button-order:hover,
.button-order:focus {
  background-color: var(--pressed-state-color);
}

/* Cекція */

.items {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}
.advantages {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-title-color);
}

.center .items {
  text-align: center;
}
.center .body {
  text-align: center;
}
/* footer */

.footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* Portfolio button */

.button {
  color: var(--primary-brand-color);
  background-color: var(--light-color-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--pressed-state-color);
  color: #ffffff;
}

.hidden {
  display: none;
}
